absl-py==0.7.1
asn1crypto==0.24.0
astor==0.7.1
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
cryptography==2.6.1
gast==0.2.2
grpcio==1.12.1
idna==2.8
Markdown==2.6.11
numpy==1.16.3
pandas==0.24.2
protobuf==3.7.1
pycparser==2.19
pyOpenSSL==19.0.0
PyPDF2==1.26.0
PySocks==1.6.8
pyspark==2.3.2
python-dateutil==2.8.0
pytz==2019.1
requests==2.21.0
scikit-learn==0.20.3
scipy==1.2.1
six==1.12.0
tabula==1.0.5
tensorboard==1.10.0
tensorflow==2.5.0
termcolor==1.1.0
urllib3==1.24.2
Werkzeug==0.15.2
win-inet-pton==1.1.0
wincertstore==0.2
